# Exercise 1: Data types

In [1]:
my_string = "Don’t mess with" + " lfrit"

In [2]:
print(my_string)

In [3]:
a = 1

In [4]:
type(a)

In [5]:
b = 2

In [6]:
type(b)

int

In [7]:
a + b

3

In [8]:
#c = 'two'
c = 2

In [9]:
type(c)

int

In [10]:
a + c

3

In [11]:
#d = "five"

In [12]:
#c + d

In [13]:
#c + " " + d + " twelve"

# Exercise 2: Retrieving Data

In [14]:
abalone_p = 'abalone.data.csv'

In [15]:
import pandas as pd

In [16]:
abalone = pd.read_csv(abalone_p, sep=',', decimal='.',
header=None, names=['Sex', 'Length', 'Diameter', 'Height', 'Whole weight',
'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings'])

In [17]:
abalone.head(2)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.15,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.07,7

In [18]:
abalone.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

In [19]:
y = abalone['Rings']

In [20]:
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

In [21]:
X = abalone[['Sex', 'Diameter']]

In [22]:
X

     Sex  Diameter
0      M     0.365
1      M     0.265
2      F     0.420
3      M     0.365
4      I     0.255
...   ..       ...
4172   F     0.450
4173   M     0.440
4174   M     0.475
4175   F     0.485
4176   M     0.555

[4177 rows x 2 columns]

In [23]:
y.shape

(4177,)

In [24]:
X.shape

(4177, 2)

In [25]:
y.value_counts()

9     689
10    634
8     568
11    487
7     391
12    267
6     259
13    203
14    126
5     115
15    103
16     67
17     58
4      57
18     42
19     32
20     26
3      15
21     14
23      9
22      6
24      2
27      2
1       1
25      1
2       1
26      1
29      1
Name: Rings, dtype: int64

# Practical Exercise 3: Data Preparation

In [26]:
fake_abalone = abalone.copy()

In [27]:
fake_abalone.loc[fake_abalone.Rings.isin([1, 2, 3]), 'Sex'] = 'I '

In [28]:
fake_abalone['Sex'].value_counts()

M     1525
I     1328
F     1307
I       17
Name: Sex, dtype: int64

In [29]:
fake_abalone['Sex'] = fake_abalone['Sex'].str.strip()

In [30]:
fake_abalone['Sex'].value_counts()

M    1525
I    1345
F    1307
Name: Sex, dtype: int64

In [31]:
fake_abalone['Sex'].replace('I', 'K', inplace = True)

In [32]:
fake_abalone['Sex'].value_counts()

M    1525
K    1345
F    1307
Name: Sex, dtype: int64

In [33]:
fake_abalone[['Diameter', 'Rings']][fake_abalone.Rings == 22]

     Diameter  Rings
232     0.505     22
270     0.525     22
275     0.540     22
351     0.450     22
433     0.420     22
675     0.395     22

In [34]:
import numpy as np

In [35]:
fake_abalone.loc[fake_abalone.Rings == 22, 'Diameter'] = np.nan

In [36]:
fake_abalone[['Diameter', 'Rings']][fake_abalone.Rings == 22]

     Diameter  Rings
232       NaN     22
270       NaN     22
275       NaN     22
351       NaN     22
433       NaN     22
675       NaN     22

In [37]:
fake_abalone['Diameter'].fillna(fake_abalone['Diameter'].mean(axis=0),
inplace=True)

In [38]:
fake_abalone[['Diameter', 'Rings']][fake_abalone.Rings == 22]

     Diameter  Rings
232  0.407788     22
270  0.407788     22
275  0.407788     22
351  0.407788     22
433  0.407788     22
675  0.407788     22

# Advanced Exercise: Dealing with big datasets

In [39]:
In [41]: abalone_iterator = pd.read_csv(abalone_p, sep=',', decimal='.',
header=None, names=['Sex', 'Length', 'Diameter', 'Height', 'Whole weight',
'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings'],
iterator=True)

In [40]:
print(abalone_iterator.get_chunk(10).shape)

(10, 9)

In [41]:
print(abalone_iterator.get_chunk(20).shape)

(20, 9)

In [42]:
piece = abalone_iterator.get_chunk(2)

In [43]:
print(piece)

   Sex  Length  Diameter  Height  Whole weight  Shucked weight  \
30   M    0.58      0.47   0.165        0.9975          0.3935
31   F    0.68      0.56   0.165        1.6390          0.6055

    Viscera weight  Shell weight  Rings
30          0.2420          0.33     10
31          0.2805          0.46     15